{% extends 'layout.html' %}
{% block title %}Bienvenido{% endblock %}
{% block styles %}
<style>
    .button-container{
        padding: 15px;
        width: 450px;
    }
</style>
{% endblock %}
{% block content %}
    <h1 class="my-3 text-center">Bienvenido al MGT (Mini gestor de trabajo)</h1>
    <div class="button-container center">
    {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}" class="btn btn-primary w-100 mt-3 py-2">Iniciar Sesión</a>
        <a href="{% url 'register' %}" class="btn btn-secondary w-100 mt-3 py-2">Registrarme</a>
    {% else %}
        <p class="text-center">
            Que haces aqui?
        </p>
        <a href="{% url 'list_tasks' %}" class="btn btn-primary w-100 mt-3 py-2">Ir a mis tareas</a>
    {% endif %}
</div>

{% endblock %}