{% extends 'layout.html' %}

{% load crispy_forms_tags %}

{% block styles %}
    <style>
    .form {
        width: 450px;
        margin: auto auto;
        border-radius: 10px;
    }
    </style>
    {{ form.media }}

{% endblock %}

{% block title %}Nueva Tarea{% endblock %}
{% block content %}

    <div class="card p-3 shadow form">
        <div class="card-body">
            <h2 class="centred-text">Registrar Nueva Tarea</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex">
                    <a class="btn btn-secondary mt-3 w-100" href="{% url 'list_tasks' %}" >Regresar</a>
                    <button class="btn btn-primary mt-3 w-100" type="submit" >Enviar</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}